.navigation {
  border: 1px green solid;
  width: 200px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 3000px) {
  /* For responsive */
}

@media (max-width: 1024px) {
  /* For responsive */
}

@media (max-width: 464px) {
  /* For responsive */
}
