.mainblock,
.solutionmainblock {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.lefttextblock,
.rightimageblock {
  width: 50%;
  object-fit: cover;
}

.lefttextblock {
  box-sizing: border-box;
  padding: 10px;
}

.question,
.finalquestion {
  color: #787f84;
  font-size: 22px;
}

.allbuttons,
.finalallbuttons {
  margin-top: 20px;
  display: flex;
  height: 40px;
  width: 35%;
  margin-left: 20px;
  width: 100%;
}

.demobutton,
.contactbutton {
  border-radius: 25px;
  background: linear-gradient(to right, #1a3da7, #27aaf6);
  color: white;
  padding-top: 3px;
  width: 20%;
  height: 40px;
  border: none;
  width: 150px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
}

.demobutton {
  margin-right: 20px;
}

.contactbutton {
  background-color: #ffffff;
  background: none;
  border: 1px solid #494949;
  color: #494949;
}

.alllogos {
  display: flex;
  width: 100%;
  height: 150px;
  /* overflow-x: scroll; */
}

.companylogo {
  max-width: 150px;
  max-height: 100%;
  object-fit: contain;
  margin-right: 80px;
}

.fullTeam {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.finalquestion {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.finalallbuttons {
  margin: 20px 40%;
}

.link {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 7px 0px;
}

@media (max-width: 3000px) {
  /* For responsive */
}

@media (max-width: 1024px) {
  /* For responsive */
}

@media (max-width: 464px) {
  /* For responsive */
}
