.mainblock,
.solutionmainblock {
  border: 1px blue solid;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.lefttextblock,
.rightimageblock {
  width: 50%;
}

.lefttextblock {
  box-sizing: border-box;
  padding: 10px;
}

.ul {
  font-size: 24px;
  line-height: 36px;
}

.trans,
.boldred,
.boldblue,
.boldgreen,
.boldorange {
  font-weight: bold;
}

.boldred {
  color: red;
}

.boldblue {
  color: blue;
}

.boldgreen {
  color: green;
}

.boldorange {
  color: orange;
}

.question {
  color: #787f84;
  font-size: 22px;
}

.allbuttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 35%;
  margin-left: 20px;
}

.demobutton,
.contactbutton {
  border-radius: 25px;
  background: linear-gradient(to right, #1a3da7, #27aaf6);
  color: white;
  padding-top: 3px;
  width: 20%;
  height: 40px;
  border: none;
  width: 150px;
  font-size: 18px;
  cursor: pointer;
}

.contactbutton {
  background-color: #ffffff;
  background: none;
  border: 1px solid #494949;
  color: #494949;
}

.solutionmainblock {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.solutionblock {
  width: 45%;
  margin: 15px;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
}

.solutiontlogotitle {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.solutiontlogo {
  height: 30px;
  width: 50px;
  margin-right: 5px;
}

.solutionttitle {
  font-size: 24px;
  font-weight: bold;
  width: 90%;
  padding-top: 5px;
  box-sizing: border-box;
}

.solutionsummary {
  font-weight: bold;
  font-size: 20px;
}

.solutionul {
  list-style: none;
}

.tickcircle {
  color: rgb(34, 201, 25);
  margin-right: 10px;
}

.solutionli {
  line-height: 27px;
  font-size: 16px;
}
